<div class="article-card">

    <% if (article.url.includes('http')) { %>
    <img src="<%= article.url  %>" alt="">
    <% } else { %>
    <img src="<%= `/img${article.url}`  %>" alt="">
    <% } %>

    <p>
        <%= article.title %>
    </p>
</div>