<header>

    <a href="/"> <img src="/img/logo.svg" alt="Logo"> </a>

    <nav>
        <button id="nav-hamburger" onclick="showHamburgerMenu()"><b>&#9776;</b></button>
        <ul id="nav-menu">
            <li class="all"><a href="/">ALL</a></li>
            <li class="blog"><a href="/blog">BLOG</a></li>
            <li class="new"><a href="/add-new">NEW ARTICLE</a></li>
        </ul>
    </nav>

</header>