<section class="read-next">

    <img class="eyes" src="/img/eyes.svg" alt="eyes">

    <h1>What to read next</h1>

    <div class="articles">
        <% results.forEach(article => { %>
        <%- include('article-card', { article })  %>
        <% }) %>
    </div>


</section>