/****************************************************************************/

/* font-family: 'Fira Code', monospace; */
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");

/* font-family: 'Poppins', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* font-family: 'Open Sans', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

/****************************************************************************/

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-family: "Poppins", sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
}

/****************************************************************************/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    border-bottom: 1px solid #00000025;

    font-family: "Poppins", sans-serif;
}
header ul {
    list-style: none;
    display: flex;
    gap: 100px;
}
a {
    text-decoration: none;
    color: #000;
}
a:visited {
    color: #000;
}

#nav-hamburger {
    display: none;
}

/****************************************************************************/

footer {
    background: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
    font-family: "Fira Code", monospace;
}
footer ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    padding-bottom: 3rem;
}
footer ul:first-of-type {
    white-space: nowrap;
    text-transform: uppercase;
    padding: 1rem 0 5rem;
    font-weight: 300;
}
footer a {
    color: #fff;
    font-weight: 500;
    font-size: 1.2rem;
    text-decoration: underline;
}
footer a:visited {
    color: #fff;
}
footer p:first-of-type {
    font-family: "Poppins", sans-serif;
    width: 30rem;
    padding: 2rem 0 2rem;
}
footer p:last-of-type {
    font-size: 0.8rem;
    padding: 2rem;
}

/****************************************************************************/

.mainIndex {
    text-align: center;
    font-family: "Poppins", sans-serif;
}
.intro {
    text-align: center;

    width: 50rem;
    margin: 0 auto;
    padding: 4rem 0 6rem;
}
.intro h1 {
    font-size: 3rem;
}

.all-articles {
    border-top: 2px solid #000;

    width: 40rem;
    margin: 0 auto;
}
.all-articles h1 {
    padding: 2rem;
}

/****************************************************************************/

.mainBlog {
    text-align: center;
    font-family: "Poppins", sans-serif;
}
.blog-article h1 {
    width: 50rem;
    margin: 0 auto;
    font-size: 3rem;
    padding: 3rem 0 6rem;
    line-height: 1;
}
.blog-article img {
    width: 100%;
    margin: 0;
    padding: 0;
}
.article-info {
    width: 30rem;
    border-top: 2px solid #000;
    margin: 2rem auto 0;
    padding-top: 2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    font-family: "Fira Code", monospace;
}
.article-info > div:first-of-type {
    display: flex;
}

.article-info img {
    width: 3rem;
    border-radius: 2rem;
    justify-self: end;
}
.article-info p {
    padding-left: 1rem;
}
.article-info p:first-of-type {
    font-weight: 700;
}
.blog-article > p {
    text-align: left;
    width: 30rem;
    margin: 0 auto;
    padding: 2rem 0;
}

/****************************************************************************/

.mainAddNew {
    text-align: center;
    font-family: "Poppins", sans-serif;
}
.mainAddNew > section > h2 {
    font-weight: 400;
    font-size: 2rem;
    padding: 4rem 0 1rem;
}

.mainAddNew form {
    display: flex;
    flex-direction: column;
    width: 50rem;
    margin: 0 auto;
}
.mainAddNew form > * {
    background: #e5e5e5;
    color: #000;
    border: none;
    outline: none;
    border-radius: 0.25rem;
    padding: 1rem;
    margin-top: 0.9rem;

    max-width: 48rem;

    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
}
.mainAddNew form input[type="submit"] {
    background: #000;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    max-width: 50rem;
}

/****************************************************************************/

.articles {
    margin: 0 auto 4rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    font-family: "Fira Code";
}
.read-next .articles {
    width: 60rem;
}
.all-articles .articles {
    width: 40rem;
}
.article-card {
    width: 15rem;
    padding: 0 1rem 0.5rem;
}
.article-card img {
    width: 15rem;
}

/****************************************************************************/

.read-next {
    margin-top: 5rem;
    border-top: 2px solid #000;
}
.read-next .eyes {
    transform: translateY(-1.8rem);
}

/****************************************************************************/
